<h1> Beware of little expenses. <br>
A small leak will sink a great ship </h1>

 <style type="text/css">
      body {
         background-image: url('/assets/diary.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: bottom;
        background-size: 80% 60%;        }
    </style>

