<ul class="dropdown-menu" role="menu">
  <li><a href="/report/index">Calendar &nbsp;&nbsp; <span class="fa fa-calendar pull-right"></span></a></li>
  <li><a href="/expenses/new">Add Expense &nbsp; <span class="fa fa-money pull-right"></span></a></li>
  <li><a href="/users/edit">Edit Account &nbsp;&nbsp; <span class="fa fa-cogs pull-right"></span></a></li>
  <li class="divider"></li>
  <li><a href="/users/sign_out" data-method="delete">Sign Out &nbsp; <span class="fa fa-sign-out pull-right"></span></a></li>
</ul>